body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAf50;
    color: white;
    padding: 15px 0;
    text-align: center;
    position: fixed;
    position: initial;
    top: 0;
    z-index: 100%;
}

header {
    margin: 0;

}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin:  80px 20px 20px 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0, 1);
}

#home {
    position: relative;
    text-align: center;
    color: rgb(4, 0, 226);
    
}

.banner {
    background: url('imagem.png') no-repeat center center/cover;
    background: url('images.png') no-repeat center center/cover;
    background: url('imagen.png') no-repeat center center/cover;
    padding: 100px 20px;
    border-radius: 8px;
}

#gallery, #testimanials, #news {
   text-align: center;

}

.carousel {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-img {
    display: none;
    width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.carousel-img.active {
    display: block;
    opacity: 1;
}

.carousel-btn {
    background-color: rgba(0, 0, 0, 0, 5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);    
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.testimonial {
    margin: 20px auto;
    max-width: 600px;
    margin: 20px 2.5%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0, 1);
}

.news-card {
    display: inline-block;
    width: 45%;
    margin: 20px 2.5%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0, 1);
    transition: transform 0.2s;
}

.news-card:hover {
    transform: translateY(-5px);
}

form{
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input, form textarea, form button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #4CAf50;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 0.9em;
    display: none;
}

#response {
    margin-top: 20px;
    color: #4caf50;
    font-weight: bolder;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #4CAf50;
    color: white;
    position: relative;
}